/* line 2, ../sass/onePageScroll.scss */
body {
  overflow: hidden;
}

/* line 6, ../sass/onePageScroll.scss */
div#scroll-wrapper {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
/* line 14, ../sass/onePageScroll.scss */
div#scroll-wrapper section {
  height: 100%;
  width: 100%;
}
